/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    color: #1C1A1A;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

body {
    background-color:#F0F0F0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0%; 
}

nav a:link, nav a:visited, nav a:active {
    text-decoration: none;
}

ul {
    padding: 20px;
}

ul li {
    list-style-type: square;
}

footer {
    text-align: center;
    margin: 30px 0;
}

/* Page Width */
.page {
    width: 80%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: wrap;
    flex-wrap: wrap;
    margin: 2% 0%;
}

.container2 {
    display: flex;
    justify-content: space-between;
    flex-direction: wrap;
    flex-wrap: wrap;
    margin: 2% 0%;
}

/* 100% length image */
.middle-img, .services-header-img {
    width: 100%;
    height: 175px;
}

.box1, .box2, .item, .box4 {
    width: 48%;
    margin: 1%;
} 

.box1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box1 h1 {
    text-align: center;
    font-size: 48pt;
}

.box1 button {
    padding: 10px 25px;
    border: 1px solid #1C1A1A;
    border-radius: 3px;
    font-size: 12pt;
    background-color: transparent;
}

.box1 button:hover {
    box-shadow: 0px 0px 10px #313131;
    cursor: pointer;
}

.box1 h3 {
    text-align: normal !important;
}

.box3 {
    width: 31%;
    margin: 1%;
}

.contact {
    padding-top: 20px;
}

.item {
    border: 2px solid black;
    padding: 25px;
    background-color: white;
}

.item button {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 15px;
}

.item {
    box-shadow: 0px 0px 10px #8A8A8A;
}

.services-info-img {
    width: 100%;
}

.full-length {
    margin: 20px 0;
}

/* Media Breakpoint 800px */
@media (max-width: 800px) {
    nav {
        flex-wrap: wrap;
    }

    nav a:nth-child(1) { order: 1; }
    nav a:nth-child(2) { order: 2; }
    nav a:nth-child(3) { order: 3; }
    nav a:nth-child(4) { order: 4; }
    nav a:nth-child(5) { order: 5; }
    nav a:nth-child(6) { order: 6; }
    
    nav a:nth-child(7) { 
        order: -1;
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
    }

    .page {
        width: 95%;
    }

    .box1 {
        padding: 50px 0;
        width: 100%;
    }

    .container .box1:nth-child(2) {
        display: none;
    }
}

/* Media Breakpoint 500px */
@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }

    nav a {
        width: 100%;
        padding: 15px 0;
        border-bottom: thin solid gray;
        text-align: center;
    }

    .box1, .box2, .box3, .box4, .item, .services-header-img, .services-info-img, .full-length {
        width: 100%;
    }

    .box1, .box2, .box3, .box4, .item, .services-header-img, .full-length {
        margin: 20px 0;
    }

    .middle-img, .services-header-img {
        height: 125px;
    }

    .container2 .box4:nth-child(1) { order: 2; }
    .container2 .box4:nth-child(2) { order: 1; }
}